<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-img class="image" src="../../assets/img/logout.png"></ion-img>
      </ion-button>
    </ion-buttons>
    <ion-title>Doctor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button (click)="pacientes()" color="secondary" expand="full" shape="round" fill="outline">Pacientes del Dia</ion-button>
  <ion-button (click)="perfildoctor()" color="tertiary" expand="full" shape="round" fill="outline">Perfil</ion-button>
  <ion-button (click)="futurospacientes()" color="success" expand="full" shape="round" fill="outline">Citas Asignadas</ion-button>
</ion-content>
