<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Doctor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-button (click)="pacientes()" color="secondary" expand="full" shape="round" fill="outline">Pacientes</ion-button>
  <ion-button (click)="perfildoctor()" color="tertiary" expand="full" shape="round" fill="outline">Perfil</ion-button>
</ion-content>
