<ion-header>
  <ion-toolbar>
    <ion-title>Validar Doctor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-img class="image" src="../../assets/img/logotipo.PNG"></ion-img>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label floating>
            Correo
          </ion-label>
          <ion-input type="text" [(ngModel)]="validador.email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>
            Celular
          </ion-label>
          <ion-input type="text" [(ngModel)]="validador.cell"></ion-input>
        </ion-item>
      </ion-list>
      <ion-button (click)="validar()" expant="block">
        Ir a Actualizar mi Contraseña
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
