<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="exit()">
        <ion-icon name="exit-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>doctorcitas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-list padding>
        <ion-item *ngFor="let item of citas;let i=index">
          {{item.paciente.Fullname}}
          <br>
          <p>
            {{item.horario.hora.Horainicio}}-{{item.horario.hora.Horafin}}
          </p>
          <br>
          <p>
            <ion-button (click)="concluido(item.id)">
              Atendido
            </ion-button>
            <ion-button (click)="falto(item.id)">
              No Vino
            </ion-button>
          </p>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>
