<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="exit()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>doctorcitas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid fixed>
    <ion-row>
      <ion-list padding>
        <ion-item *ngFor="let item of citasfiltradas;let i=index">
          <ion-col size="12">
            <ion-col size="12">
              {{item.paciente.Fullname}}
            </ion-col>
            <br>
            <ion-col size="12">
              {{item.horario.hora.Horainicio}}-{{item.horario.hora.Horafin}}
            </ion-col>
            <br>
            <ion-col size="6">
              <ion-button (click)="concluido(item.id)">
                Atendido
              </ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button (click)="falto(item.id)">
                No Vino
              </ion-button>
            </ion-col>
            <br>
          </ion-col>
        </ion-item>
      </ion-list>
    </ion-row>
  </ion-grid>
</ion-content>
